@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');   /* header font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');    /* counter font */

.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: sticky;
    top: .1px;
    padding: 1% 1%;
    font-family: 'Staatliches', cursive;
    background-color: #111111;  
}

.header-title {
    display:block;
    color: #FFD500;
    font-size: 36px;
    padding: 2px 40px;
    border: 5px solid #FFD500;
}

.header-title:hover {
    background-color: #FFD500;
    color: #111111;
}

.number-container {
    display: block;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    color: #EEEEEE;
}

.number-text {
    font-family: 'Staatliches', cursive;
    color: #FFD500;
}